 body { background-color: write;  
color: white;  
font-family: Arial, Helvetica, sans-serif; 
background-image:"primevertical.png"  ; 
}


h2 {  
color: darkslateblue;  
}  

h3{ 
    color: royalblue;
    padding: 5px;
    border-radius: 5px; 
}  
main {
    padding: 10px;
    background-image: url("fond.png");
    background-size: cover; 
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 730px;
    width: 725px;
    margin : 0 auto;
}

#nav {
    color : white ;
    width: 300px;
    height : 800px ;
    clear:left;

}

#wrapper{
    margin : 0 auto;
    width : 680px;
    min-width: 680px ;
    padding-left: 10px;
} 

#leftcolumn{
    background-color: white;
    float :left;
    margin-left: -300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 290px;
    width: 200px;

}
#leftcolumn a{
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#event-week {
    padding: 10px;
    max-width: 800px;
    margin: 10px auto;
    background-color: aliceblue;
    border-radius: 9px;
    height: 370px;
    width: 650px;
    float: left;
}



#map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid #ddd;
}
.rdv-item {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}

.rdv-item h2 {
    margin-top: 0;
}

.rdv-item p,
.rdv-item ul {
    margin: 5px 0;
}

.rdv-item ul {
    padding-left: 20px;
}
.cancel-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;

    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.contact { font-family: "Times New Roman", serif;  
font-size: .90em;  
font-weight: bold;  

}
#footer { font-size: .60em;  
font-style: italic;  
clear : both;
} 
  


#nav {
    color : black ;
    background-color : white ;
    text-align : center ;
    padding : 5px ;
    width: auto;
    height : 640px ;

}

#carousel-container {
    width: 290px;
    margin: -10px;
    border: 2px solid #ccc;
    padding: -10px;
}

#carrousel {
    position: relative;
    height: 350px;
    width: 300px;
    margin: -10 auto; 
    overflow: hidden;
    padding: -40px;
}

#carrousel ul {
    position: absolute;
    top: 50;
    left: 900;
    width: 700%;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: left 0.5s;
    float: left;
}

#carrousel ul li {
    float: left;
    width: 14.2857%;
    height: auto;
}
h1 {  
      text-align: center;  
      color: mediumblue;   
      width: 290px; 
    } 

footer {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 750px;
    border-radius: 8px;
}


footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
